.card {
  border-radius: 10px;
  background-color: #ffffff33;
  width: 18rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.card > img {
  object-fit: contain;
  height: 200px;
  margin: 10px;
  margin-top: 0;
  max-width: 17rem;
  border-radius: 25px;
}

.card > h3 {
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  width: 100%;
}

.card > p {
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
  word-break: break-all;
}

.card:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: translateY(-1em);
  color: black;
  border: 0.5px solid black;
}

.card:hover #card__link {
  color: purple !important;
}
