.app > hr {
  width: 25vw;
  margin: 20px auto;
  margin-top: 0px;
}

.app > h2 {
  font-size: 32px;
  text-align: center;
  width: 100vw;
  text-transform: uppercase;
}

.app > p {
  text-align: center;
  font-size: 14px;
  margin: 20px;
}

.container {
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  padding: 20px;
  align-items: stretch;
  gap: 2em;
  margin: 0 auto;
  margin-top: 2em;
  justify-content: center;
  align-content: center;
}
