.getInTouch, .cpProfiles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  margin-bottom: 50px;
}

.getInTouch__btn {
	margin: 20px;
	background-color: var(--gray);
	color: var(--basicFontColor);
	padding: 2rem;
	border-radius: 10px;
	padding-bottom: 1rem;
	cursor: pointer;
}

.getInTouch__btn:hover {
	background-color: var(--lightgray);
}

.getInTouch__btn > h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	margin-top: 10px;
}

.getInTouch__btn > svg {
	height: 100px;
	width: 150px;
	fill: var(--dark);
}
