.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: fadein;
  animation-duration: 2s;
  padding: 10px;
  flex-direction: column;
}

/* @keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.welcome__container {
  margin-left: 10vw;
}

.welcome__container > h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--basicFontColor);
  flex: 1;
}

.welcome__container > button {
	background-color: var(--orange);
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	font-size: 14px;
	margin-top: 50px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#name {
  color: var(--orange);
  font-size: 72px;
  margin-bottom: 40px;
}
